.fade-in {
    animation: fadeIn 1.5s ease-out forwards;
    opacity: 0;
}

.fade-up {
    animation: fadeUp 1.2s ease-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeUp {
    from {
        transform: translateY(40px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}